
<div class="row">
<div class="col-6 bg-info">
<table class="table table-striped">
  <thead>
 <h4>รายละเอียดสินค้า</h4>
  </thead>
  <tbody>
    <tr>
      <td>รหัสสินค้า</td>
      <td>{{selectedProduct.pId}}</td>
    </tr>
    <tr>
      <td>ชื่อสินค้า</td>
      <td>{{selectedProduct.pName}}</td>
    </tr>

    <tr>
      <td>ราคาสินค้า</td>
      <td>{{selectedProduct.pCost}}</td>
    </tr>
    <tr>
      <td>จำนวนสินค้าที่ต้องการ</td>
      <input name="qty" [(ngModel)]="selectedProduct.qty">
    </tr>
  </tbody>
  <button type="button" *ngIf="selectedProduct.qty" class="btn btn-success" (click)="addcart()">ใส่ตะกร้า</button>
</table>
</div>
<div class="col-6 bg-success">
  <h4>ตะกร้าสินค้า</h4>
</div>
</div>
