<button type="button" class="btn btn-primary">Primary</button><p></p>

<div class="input-group">
  <div class="input-group-prepend">
    <button class="btn btn-success" type="button">Love it</button>
  </div>
  <input type="text" class="form-control" placeholder="ชื่อ" aria-label="small" aria-describedby="basic-addon1" [(ngModel)]="name">
  สวัสดี{{name}}
</div>
<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Student ID</th>
        <th>Weight</th>
          <th>Height</th>
          <th>BMI</th>
          <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{student.name}}</td>
        <td>{{student.studentID}}</td>
        <td>{{student.weight}}</td>
        <td>{{student.height}}</td>
        <td>{{student.weight/((student.height/100)*(student.height/100))}}</td>
        <td *ngIf="student.weight/((student.height/100)*(student.height/100)) > 25">อ้วน</td>
        <td *ngIf="student.weight/((student.height/100)*(student.height/100)) < 25">ผอม</td>
        <td *ngIf="student.bmi/((student.height/100)*(student.height/100)) == 25">ปกติ</td>
      </tr>
      <tr *ngFor ="let i of studentlist">
        <td>{{i.name}}</td>
        <td>{{i.studentID}}</td>
        <td>{{i.weight}}</td>
        <td>{{i.height}}</td>
        <td>{{i.weight/((i.height/100)*(i.height/100))}}</td>
        <td *ngIf="i.bmi > 25">อ้วน</td>
        <td *ngIf="i.bmi < 25">ผอม</td>
        <td *ngIf="i.bmi == 25">ปกติ</td>
      </tr>
    </tbody>
  </table>
  

